body{
    width: 100% ;
    margin: 0px;
    padding: 0px;
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    /* position: relative; */
    flex-direction: column;
    /* background-image:url("./homePageImg/Fullscreen_Image.png" ); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* object-fit: contain; */
}
.home .header_container{
    /* position: relative; */
    border: 1px solid red;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 13px;
    position: relative;
}
.current-menu-item a{
    color: #f27b35 !important;

}
.header .logo{
    margin: 5px;
}
.menu{
    align-self: center;
    padding: 0px;
    margin:0px;
}
.menu2{
    align-self: center;
    padding: 0px;
    margin:0px;
}
.menu ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.menu2 ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.menu ul li{
    padding: 10px;
}
.menu2 ul li{
    padding: 10px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: capitalize;

    /* Default/White */

    color: #FFFFFF;
}
.menu2 ul li a{
    text-decoration: none;
    /* color: white; */
    font-size: 19px;
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: capitalize;

    /* Default/White */

    color:#000000 ;
}

.menu ul li a:hover{
    color:#B4B4B4;
}

.menu2 ul li a:hover{
    color: #F27B35;
    
}
.header .button{
    align-self: center;
    padding: 0.6% 2%;
    background-color:white;
    border-radius: 2px;
}
.header .button_menu2{
    align-self: center;
    padding: 0.6% 2%;
    background-color:rgb(6, 6, 6);
    border-radius: 2px;
}
.header .button a{
    font-size: 15px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
.header .button_menu2 a{
    font-size: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
.hamburger{
    display: none;
}
.hamburger2{
    display: none;
}
@media only screen and (max-width:900px)
{
    .header{
        /* border:1px solid red; */
    }
    .hamburger{
        display: block;
        cursor: pointer;
        padding-top: 23px;
    }
    .hamburger .line{
        width:30px;
        height: 2.5px;
        background-color: white;
        margin: 6px 0px;
    }
    .nav_bar{
        position: absolute;
        top:95px;
        left:-500px;
        width: 100%;
        height: 100vh;
        background-color: #000000;
        z-index: 2;
        border-radius: 5px;
        opacity: 0.9;
        transition-duration: 0.4s;
    }
    .active{
        left: 0px !important;
    }
    .nav_bar ul{
        display: block;
        width: fit-content;
        margin:5px auto 0px auto;
        text-align: center;
    }   

    .hamburger2{
        display: block;
        cursor: pointer;
        padding-top: 23px;
    }
    .hamburger2 .line{
        width:30px;
        height: 2.5px;
        background-color:#000000;
        margin: 6px 0px;
    }
    .change .line1 {
        transform: translate(0, 11px) rotate(-45deg);
        transition: 0.4s ease-in-out;
    }
      
    .change .line2 {
        opacity: 0;
        transition: 0.4s ease-in-out;
    }
      
    .change .line3 {
        transform: translate(0, -6px) rotate(45deg);
        transition: 0.4s ease-in-out;
      }
    .nav_bar2{
        position: absolute;
        top:95px;
        left:-500px;
        opacity: 0.9;
        width: 100%;
        height: 100vh;
        background-color:#000000;
        color: #000000;
        z-index: 2;
        transition-duration: 0.5s;
        border-radius: 5px;
    }
    .active2{
        left: 0px !important;
    }
    .nav_bar2 ul{
        display: block;
        width: fit-content;
        margin:5px auto 0px auto;
        text-align: center;
        /* transition: 2s; */
    } 
    
    .nav_bar2 ul li a{
        color: white;
    }   
    
}

/* css for blog page post on backgorund image */
.background .content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 0px;
    /* gap: 24px; */
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* left: 255px;
    top: 120px; */
}
.background .content p{
    font-family: 'Inria Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    margin: 10px 0px 5px 0px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    /* Default/White */

    color: #FFFFFF;

}
.background .content h4{
    font-family: 'Inria Serif';
font-style: normal;
font-weight: 300;
font-size: 25px;
/* line-height: 52px; */
/* or 108% */
letter-spacing: 0.02em;
text-transform: capitalize;

/* Default/White */

color: #FFFFFF;
}
.background .content a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;



    /* Primary/Chalk */

    background: #222222;

    /* Inside auto layout */

    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 2px;
}
.header .button ul li{
    list-style-type: none;
}
.header .button_menu2 ul li{
    list-style-type: none;
}
.home .text{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    padding: 0px;
    width: 30%;
    position: absolute;
    left: 10%;/* 150px*/
    top: 30%;/* 220px*/
}
.text .text1{
    font-family: 'Inria Sans';
    font-style: italic;
    /* font-weight: 400; */
    font-size: 3.5vh;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #F27B35;
}
.text .text2{
    width: 100%;
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 100;
    font-size: 9vh;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    word-spacing: 5px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text .text3{
    width: 78%;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 3vh;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #FBFCFC;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.text .button2{
    margin-top:8% ;
     position: absolute;
     top:100%;
    }
.text .button2 a{
    padding: 10px 15px 10px 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius:2px;  
    background-color: #FFFFFF;
    text-decoration: none;
    color: black;
    font-size: 19px;
}
.body1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    /* background-image: url(/homePageImg/bodyImg/coffee\ 1.png); */
    background-repeat: no-repeat;

}

.body1 .body1_h2{
    margin-top: 4%;
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 100;
    font-size:2.5vw;
    /* font-size:25px; */
    /* line-height: 2vw; */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #000000;
    order: 0;
    align-self:center;
    flex-grow: 0;
}
.body1 .body1_p{
    width: 65%;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 32px;
    text-align: center;
    color: #565656;
    order: 0;
    flex-grow: 0;
}
.body1 .body1_cards{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: flex-start;
    padding: 0px;
    width: 65%;
    margin-top: 10vh;
    margin-bottom:12vh ;
    /* Inside auto layout */
    z-index: 1;
}
.body1 .body1_cards .card{
    width: 300px ;
    display: flex;
    flex-direction: column;
    padding: 0px 1%;
}

.relative{
    position: relative;
}
.hover-img:hover{
    visibility: visible;
}

.relative:hover .hover-img {
    visibility: visible !important;
}
.hover-img{
    position: absolute;
    visibility: hidden;
    top: 0px;
    left: 0px;

}
.body1 .body1_cards h4{
    margin-bottom: 4px;
    margin-top: 8px;
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #1D2A34;
    /* flex: none; */
    order: 0;
    align-self: stretch;
    /* flex-grow: 0; */
    }
    .body1 .body1_cards p{
        margin: 0px;
        font-family: 'Inria Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #565656;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
} 

.body2{
}
.body2 .body2_image{
    width: 100%;
    /* background-image: url(/homePageImg/bodyImg/Cup1-\ 1.png),url(/homePageImg/bodyImg/coffee\ 2.png); */
    background-repeat: no-repeat;
    background-position: right 100px top 120px,right top;
    display: flex;
    flex-direction: column;
}
.body2 .body2_image .body2_b1{
    width: 37%;
    align-self: center;
    padding-top: 9%;
    padding-right: 20%;
}
.body2 .body2_b1 h1{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 52px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #222222;
    flex: none;
    order: 0;
    flex-grow: 0;
} 
.body2 .body2_b1 p{
    gap:30px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #565656;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.body2 .body2_b1 .button{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    width: 40%;
    flex: none;
    order: 1;
    flex-grow: 0;

}
.body2 .body2_b1 .button a{
    color:white;
    padding:2vh 3vw;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    border:1px solid green;
    text-align: center;
    background: #222222;

}
.body2 .body2_b2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.body2_b2 .gallery{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;   
    padding-top: 5%;
    margin-left: 2.5%;
}
.body2_b2 .gallery .body_icon {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.body2_b2 .gallery .body_icon a{
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #391904;
    order: 1;
    flex-grow: 0;
    text-decoration: none;
    color: #391904;
}
.body2_b2 .gallery .body_icon a:hover{
    color: #F27B35;

}
.body2_b2 .gallery .body_icon img{
    margin-right: 10px;
}   
@media only screen and (max-width:900px){
    .home .text{
        width: 90%;
    }
    .body1 {
        background-image: none !important;
    }
    .body1 .body1_h2{
        width: 80%;
        text-align: center;
    }
    .body1 .body1_h2 h2{
        font-size: 30px;
    }
    .body1 .body1_p {
        width: 80%;
    }
    .body1 .body1_p p{
        margin-top: 0px;
        font-size: 16px;
    }
    .body1 .body1_cards{
        width: 90%;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .body1 .body1_cards p{
        margin-bottom: 15px;
    }
    .body2 {
        text-align: center;
    }
    .body2 .body2_image{
        background-image: none !important;
    }
    .body2 .body2_image .body2_b1{
        width: 90%;
        padding: 0px;
    }
    .body2 .body2_image .body2_b1 h1{
        font-size: 40px;
        line-height: 40px;
    }
    .body2 .body2_b1 .button {
        width: 100%;
    }
    .body2 .body2_b1 .button a{
        width: 60%;
    }
    .body2_b2 .gallery {
        width: 90%;
    }
}

#footer{
    display: flex;
    flex-direction: column;
}
#footer .footer1{
    display: flex;
    flex-direction: column;
    background-color:  #131313;;
}
#footer .footer1 .footer1_b1{
    text-align: center;
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height, or 112% */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    /* Default/White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
#footer .footer1 .footer1_b2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}
#footer .footer1 .footer1_b2 .footer1_b2_b{
    display: flex;
    flex-direction: column;
    width: 7%;
    color: white;
    background-color: #202020;
    text-align: center;
    margin: 8px;
    padding: 8px;
}
#footer .footer1 .footer1_b2 .footer1_b2_b:hover{
    background-color:#000000 ;
}
#footer .footer1 .footer1_b2 .footer1_b2_b p{
    margin: 5px;
    color: #F27B35;
}
#footer .footer2{
    background-color: #000000;
    display: flex;
    flex-direction: column;
}
#footer .footer2 .footer2_b1 {
    align-items: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
    border-bottom: 1px solid #222222;
}
#footer .footer2 .footer2_b1 .footer2_b1_logo{
    margin-bottom: 10px;
}
#footer .footer2 .footer2_b1 .footer2_b1_b2 p{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.8;
    margin: 10px 0px 5px 0px;
}
#footer .footer2 .footer2_b1 .footer2_b1_b2{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color:#F27B35;
    opacity: 0.8;
    text-align: center;
}
#footer .footer2 .footer2_b1 .footer2_b1_menu ul{
    display: flex;
}
#footer .footer2 .footer2_b1 .footer2_b1_menu ul li{
    margin: 10px;
    list-style-type: none;
}
#footer .footer2 .footer2_b1 .footer2_b1_menu ul li a{
    text-decoration: none;
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#footer .footer2 .footer2_b1 .footer2_b1_menu ul li a:hover{
    color:#F27B35 ;
}
#footer .footer2 .footer2_b1 .footer2_b1_icon{
    margin: 5px 0px 10px 0px;
}
#footer .footer2 .footer2_b1 .footer2_b1_icon img:hover{
    background-color: #F27B35;
    border-radius: 6px;
}
#footer .footer2 .footer2_b1 .footer2_b1_icon img{
    padding: 5px 10px 5px 10px;
}
#footer .footer2 .footer2_b2{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-self: center;
    color: #8D8D8D;
    opacity: 0.8;    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px 25px 0px;   
}
@media only screen and (max-width:900px){
    #footer .footer1 > .footer1_b2{
        width: 100%;
        /* border: 1px solid red; */
        /* width: 500px; */
        display: -webkit-inline-box;
        overflow-x: scroll;
    }
    #footer .footer1 .footer1_b2 .footer1_b2_b{
        width: 80px;
        height: 43px;
    }
    
    .menu-top-menu-container ul{
        flex-wrap: wrap;
    }
    #footer .footer2 .footer2_b1 .footer2_b1_menu ul{
        justify-content: center;
    }
    
}

/*Menu Page Start */

.menu_page{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.menu_page .title{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #000000;
}
.menu_page .description{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #565656;

}
.menu_page .button_block{
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu_page .button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px; 
    gap: 8px;
    width: 186px;
    height: 46px;
    background-color: #222222;
    border-radius: 2px;
}
.menu_page .button a{
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
}
.menu_page .category ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.menu_page .category ul li{
    padding: 0px 10px;
    margin: 0px 25px;
}
.menu_page .category ul li a{
    text-decoration: none;
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #1D2A34;
}
.menu_page .category ul li a:hover{
    border-bottom: 3px solid #F27B35;
    padding-bottom:5px ;

}
@media only screen and (max-width:900px){
    .menu_page .category {
        overflow: scroll;
    }
    .owl-stage-outer{
        /* width: 80vw; */
    }
    .post_container .post{
        display: block;
        width: 90%;
        margin-bottom: 5vh;
    }
    .post_container .post .image img{
        width: 100%;
        height: 45vh;
    }
    .post_container .post .image{
        width: 100%;
    }
    .post_container .post .content{
        width:100%;
        height: 100%;
        box-sizing: border-box;
    }
    .menu_page .button_block .button{
        width: 40%;
        height: 20px;
        padding: 10px;
    }
    .menu_page .button_block .button a{
        font-size: 17px;
    }
    .menu_page .category ul li a{
        font-size: 15px;
    }
    .menu_page .category ul{
        justify-content: space-between;
    }
    
}
@media only screen and (max-width:1000px){
    .owl-nav button{
        display: none;
    }
}
/* menu page css end */

/* About Page Css */

.about_page .section1_b1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 15vh;
}
.about_page .section1_b1 .title{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #F27B35;
    padding: 5px;
}
.about_page .section1_b1 .subtitle{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #000000;
    padding: 5px;
}
.about_page .section1_b1 .description{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #565656;
    padding: 5px;
}
.about_page .section1_b2 {
    display: flex;
    margin-top: 10vh;
    /* flex-wrap: wrap; */
}
.about_page .section1_b2 .image{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    /* padding: 0px 10px 0px 0px; */
}
.about_page .section1_b2 .image img{
    width: 100%;
}
.about_page .section1_b2 .image_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 112px 0px;
    gap: 16px;
    background-color: #FFF5EA;
}
.about_page .section1_b2 .image_content .image_title{
    width: 70%;
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #222222;
   
}
.about_page .section1_b2 .image_content .image_title h4{
    margin:5px 0px;
}
.about_page .section1_b2 .image_content .image_desc{
    width: 70%;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #565656;
}
.about_page .section1_b2 .image_content .button_container{
    width: 70%;
}
.about_page .section1_b2 .image_content .image_button{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    /* width: 119px; */
    /* height: 46px; */
    background: #222222;
    border-radius: 2px;

}
.about_page .section1_b2 .image_content .image_button a{
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;

}
.about_page .section2_b1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}
.about_page .section2_b1 .title{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 52px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 10px;
}
.about_page .section2_b1 .description{
    width: 42%;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;    
    color: #565656;
    align-self: center;    
}

.about_page .section2_b2 {
    display: flex;
    margin-top: 10vh;
    /* flex-wrap: wrap; */
}
.about_page .section2_b2 .section2_image1{
    width: 100%;
}  
.about_page .section2_b2 .section2_image1 img{
    width: 100%;
} 
.about_page .section2_b2 .section2_image2 img{
    width: 100%;
} 
.about_page .section2_b2 .section2_image2{
    width: 100%;
    align-self: stretch;
}

.about_page .section3_b1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 15vh;
}
.about_page .section3_b1 .title{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #000000;
}
.about_page .section3_b1 .description{
    width:42%;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #565656;
    align-self: center;
    margin-top: 15px;
}
.about_page .section3_b2{
    display: flex;
    justify-content: center;
}
.about_page .section3_b2 .cards{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    gap:16px;
    margin-bottom: 18vh;
}
.about_page .section3_b2 .cards .card{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.about_page .section3_b2 .cards .card .job{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #F27B35;
    margin: 0px;
    padding: 5px;
}
.about_page .section3_b2 .cards .card .name{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #222222; 
    margin: 0px;
    padding: 5px;
}
@media only screen and (max-width:900px){
    .about_page .section1_b2 {
        display: block;
    }
    .about_page .section2_b2 {
        display: block;
    } 
    .about_page .section3_b2 .cards{
        justify-content: center;
    }  
}
/* About Page Css end */

/* Visit Page Css */

.visit_section1 ,.contact_page{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.visit_section1 .visit_section1_b1 ,.contact_page_b1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 15vh;
}
.visit_section1 .visit_section1_b1 .title,.contact_page_b1 .title{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #000000;
}
.visit_section1 .visit_section1_b1 .description, .contact_page_b1 .description{
    width: 58%;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #565656;
    padding: 5px;   
    align-self: center;
}
.visit_section1 .visit_section1_b2 ,.contact_page_b2{
    display: flex;
}
.visit_section1 .visit_section1_b2 img ,.contact_page_b2 .contact_image img{
    height: 100%;
    width: 50vw;
}
.visit_section1 .visit_section1_b2 .image_content{
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 112px 0px;
    gap: 16px;
    background: #FFF5EA;
}
.visit_section1 .visit_section1_b2 .image_content .visit_image_title{
    width: 65%;
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #222222;
}
.visit_section1 .visit_section1_b2 .image_content .visit_image_description{
    width: 65%;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #565656;
}
.visit_section1 .visit_section1_b2 .image_content .visit_image_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    background: #222222;
    width: 16%;
    border-radius: 2px;
}
.visit_section1 .visit_section1_b2 .image_content .visit_image_button a{
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}
.visit_section1 .visit_section1_b2 .image_content .visit_button_container{
    width: 65%;
}
.map_container{
    width: 100%;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    width: 100%;
  }

.tooltip .tooltip_container{
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 16%;
    box-shadow: 0px 0px 5px white;
    border-radius: 2px;
    background-color: white;
    top:21.5%;
    left:31.3%
}
.tooltip .tooltip_container h4{
    font-size: 22px;
}
.tooltip .tooltip_container .tooltip_block{
    display: flex;
    padding:  0px 10px;
}
.tooltip .tooltip_container .tooltip_block img{
    height: 10%;
    align-self: center;
}
.tooltip .tooltip_container .tooltip_block p{
    margin-left:10px;
}
.tooltip .tooltip_container .tooltip_block a{
    padding: 10px 15px;
    color: white;
    font-size: 15px;
    background-color: #000000;
    text-decoration: none;
    border-radius: 2px;
    margin-bottom: 8px;
}
.tooltip .buttonImage{
    position: absolute;
    top:48.2%;
    left:49.1%;   
}
.tooltip .buttonImage button{
    background-color: transparent;
    border:none;
}
.tooltip:hover .tooltip_container{
    visibility: visible !important;
}

.tooltip .tooltip_container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent transparent white;
  }

  @media only screen and (max-width:900px)
  {
    .visit_section1 .visit_section1_b2{
        display: block;
    }
    .visit_section1 .visit_section1_b2 img ,.contact_page_b2 .contact_image img{
        width: 100vw;
    }
    .visit_section1 .visit_section1_b2 .image_content{
        width: 100vw;
        padding: 20px 0px;
    }
    .visit_section1 .visit_section1_b2 .image_content .visit_image_title{
        width: 90%;
        
    }
    .visit_section1 .visit_section1_b2 .image_content .visit_image_description{
        width: 90%;
    }
    .visit_section1 .visit_section1_b2 .image_content .visit_image_button{
        display: none;
    }
    .map_container .tooltip >img{
        height: 95vh;
    }
    .tooltip .buttonImage{
        position: absolute;
        top: 48.4%;
        left: 47.1%; 
    }
    .tooltip .tooltip_container {
        /* visibility: hidden; */
        /* width: 280px; */
        width: 60%;
        top:51vh;
        left: 22.3%;
        /* bottom: 27px; */
    }
    .tooltip .tooltip_container::after {
        content: "";
        position: absolute;
        left: 42%;
        top:-23px;
        margin-top: -5px;
        border-width: 15px;
        border-style: solid;
        border-color:transparent transparent white transparent;
      }

  }
/* Career page start */
.career_page{
    display: flex;
    flex-direction: column;
}
.career_page .career_section1_b1{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 10vh;
    margin-bottom: 15vh;
}
.career_page .career_section1_b1 .title{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 4vh;
}
.career_page .career_section1_b1 .description{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #565656;
    margin-bottom: 4vh;
}
.career_page .career_section1_b1 .career_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 8px;
    background: #222222;
    border-radius: 2px;
}
.career_page .career_section1_b1 .career_button a{
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;

}
.career_page .career_section1_b2{
    display: flex;
    /* flex-wrap: wrap; */
}

.career_page .career_section1_b2 .image{
    width: 50%;
}
.career_page .career_section1_b2 .image img{
    width: 100%;
    height: 100%;
}
.career_page .career_section1_b2 .image_content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: #FFF5EA;
}
.career_page .career_section1_b2 .image_content .image_title{
    width: 70%;
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #222222;
}
.career_page .career_section1_b2 .image_content .image_title h4{
    margin:10px 0px;
}
.career_page .career_section1_b2 .image_content .image_desc{
    width: 70%;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #565656;

}
.career_section2_b1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 112px 255px;
    gap: 56px;
    background: #FFFFFF;
}
.career_section2_b1 .title{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #000000;
}
.career_section2_b1 .description{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #565656;
    width: 90%;
}
.career_section2_b2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 56px;
    margin-bottom: 20px;
}
.career_section2_b2 .grid_image{
    width: 60%;
    display: flex;
    /* flex-direction: row; */
    align-self: center;
}
.career_section2_b2 .grid_image img{
    width: 100%;
    height: 100%;
}
.career_section2_b2 .image_content{
    padding: 20px;
    width: 45%;

}
.career_section2_b2 .image_content .image_title{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 52px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.career_section2_b2 .image_content .image_title h4{
    margin-bottom: 10px;
}
.career_section2_b2 .image_content .image_desc{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #565656;
    margin-bottom: 10px;
}
.career_section2_b2 .image_content .image_content_button{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    background: #000000;
}
.career_section2_b2 .image_content .image_content_button a{
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}
@media only screen and (max-width:900px){
    .career_page .career_section1_b2{
        display: block;
    }
    .career_page .career_section1_b2 .image{
        width: 100%;
    }
    .career_page .career_section1_b2 img{
        width: 100vw;
    }
    .career_page .career_section1_b2 .image_content{
        width: 100vw;
        padding: 20px 0px;
    }
    .career_section2_b1{
        padding: 15px 0px 5px 0px;
        gap:25px;
        margin-bottom: 10px;
    }
    .career_section2_b2 .grid_image{
        display: block;
        width: 90%;
    }
    .career_section2_b2 .image_content{
        padding: 0px;
        width: 100%;
    }
    .career_section2_b2 .image_content .image_title h4{
        margin: 10px 0px;
    }
    #Opportunities{
        text-align: center;
    }
}
/* career page css end */
/* contact page css Start */

.contact_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 0px;
    gap: 40px;    
    background: #FFF5EA;
}
.contact_page_b2{
    /* height: 100vh; */
}
.contact_form .contact_form_b {
    width: 70%;
}
.contact_form .icon{
   display: flex; 
   padding: 10px;
}
.contact_form .contact_form_b .form_title{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #222222;
    margin-bottom: 10px;
}
.contact_form .contact_form_b .icon img{
    width: 5%;
    height: 5%;
    margin: 0px 10px 0px 0px;
}
.contact_form .contact_form_b .icon p{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 0px 10px 0px 0px;
}
.contact_form .contact_form_b .form_slogan{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #222222;
    margin: 15px 0px;
}
.contact_form .contact_form_b .form p label{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.contact_form .contact_form_b .form p span input,.contact_form .contact_form_b .form p span textarea{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    background: #FFFFFF;
    border: 1.4px solid #F27B35;
    padding-right: 0px;
    padding-left:0px ;
}
.contact_form .contact_form_b .form p .wpcf7-submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    background: #222222;
    color: white;
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
}
@media only screen and (max-width:900px){
    .contact_page_b2{
        display: block;
    }
    .contact_page_b2 .contact_image img{
        height: 50vh;
    }
}

/*  */
/* Blog Page Css Starts */
.blog_body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 56px 255px 112px; */
    /* gap: 72px; */
    background: #FFFFFF;

}
.blog_body .blogs{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 40px;
}
.blog_body .blogs .blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 40%;
    height: 60%;
}
.blog_body .blogs .blog img{
    width: 33vw;
    /* height: 70%; */
    /* margin: 5px 0px; */
    /* width: 100%; */
    margin: 0px;
}
.blog_body .blogs .blog .content h4{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #000000;
    margin: 0px;
}
.blog_body .blogs .blog .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 8px;
    background: #FFF5EA;
    margin: 0px;
    width: 100%;
}
.blog_body .blogs .blog .content a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    background: #000000;
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 2px;
}
.wp-pagenavi{
    margin: 20px;
    font-size: 20px;
}
.wp-pagenavi .current{
    color: #f27b35;
    border: 2px solid black;
}
.blog_body form {
    width: 68%;
    display: flex;
    justify-content: flex-start;
    margin: 8vh 0px;
}
.blog_body form input{
    padding: 12px;
}
@media only screen and (max-width:900px){
    .blog_body .blogs{
        display: block;
        width: 90%;
        align-items: center;
    }
    .blog_body .blogs .blog{
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .blog_body .blogs .blog .image img{
        width: 100%;
    }
    .blog_body form {
        width: 80%;
    }
    .background .content{
        align-items: center;
    }
    .background .content h4{
        text-align: center;
    }
}
/* single page css starts */
.single_page_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 112px 255px;
    gap: 40px;
    background: #FFFFFF;
}
.single_page_body .thumbnail_image{
    width: 100%;
}
.single_page_body .title{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 52px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #000000;
}
.single_page_body .date{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #565656;
}

.single_page_body .content{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #565656;
}
@media only screen and (max-width:900px){
    .single_page_body{
        padding: 20px 30px;
    }
}
        /* single page css end */
        /* Carousel css */
.slider{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}
.slider .owl-carousel .owl-nav{
    width: 100%;
    display: block !important;
     position: absolute;
    top:60px; 
    /* left:-50px; */
    font-size: 25px;
    color: #F27B35;
}
 .slider .owl-carousel .owl-nav.disabled .owl-next{
    position: absolute;
    width: 32px;
    height: 32px;
    right: -5vw;
    background-color: #000000;
    border-radius: 50%;
    
}
/* .slider .owl-carousel .owl-nav.disabled .owl-next span,.slider .owl-carousel .owl-nav.disabled .owl-prev span{
    font: initial !important;
} */
.slider .owl-carousel .owl-nav.disabled .owl-prev{
    position: absolute;
    width: 32px;
    height: 32px;
    left: -5vw;
    background-color: #000000;
    border-radius: 50%;
}
.owl-carousel{
    width: 65%!important;
}

/* menu show post css */
.post_container{
    width: 100%;
    display: flex;
    justify-content: center;

}
.post{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 0px; */
    width: 65%;
    margin: 5vh 0px 10vh 0px;
    height: 100%;
    
}
.post .image {
    height: 100%;
}
.post .image img{
    width: 35vw;
    height: 80vh;    
}
.post .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    width: 46vw;
    height: 73.5vh;
    background: #FFF5EA;
    mix-blend-mode: normal;
}
.post .content img{
    margin-right: 5px;
}
.post .content .title{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    /* or 112% */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    /* Default/Black */

    color: #000000;
    margin:10px 0px;
}
.post .content .image_content{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin:30px 0px;
    height: 41.7vh;
    overflow-y: scroll;
}
.post .content .description{
    border-bottom: 2px solid #F27B35;
}
.post .content .price{
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 52px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #000000;
}
.main_image{
    /* position: relative; */
}
/* .item{
    position: relative;
}

.hover_image{
    position: absolute;
    top:0px;
    left: 0px;
    visibility: hidden;    
}
.main_image:hover .hover_image{
    /* display: none; */
   /* visibility: visible !important;
    z-index: 1;
    border:2px solid red; 
}*/
.item{
    position: relative;
}
.hover_image:hover{
    visibility: visible;
}

.item:hover .hover_image {
    visibility: visible !important;
}
.hover_image{
    position: absolute;
    visibility: hidden;
    top: 0px;
    left: 0px;

}
